script.
	function fnSair(){
		window.location="/sair"
	}
	function fnFecharJogo(){
		$('#container-jogo').hide('slow').animate('faldeout');
		$('#jogo-page').attr("src",'/images/pixel.png');
	}
	function fnAbreJogo(jogo,titulo,layout){
		$('#container-jogo').css("display","block");
		$('#jogo-page').attr("src",'/jogos?jogo='+jogo+'&titulo='+titulo+'&layout='+layout);
	}
style.
	#fechar-jogo{
		width: 40px;
		height: 40px;
		position: absolute;
		border:1px solid #ddd;
		background-color: rgba(0, 0, 0, .8);
		cursor: pointer;
		color: #fff;
		line-height:40px;
		border-bottom-right-radius: 10px;
		font-weight: bold;
	}
	#fechar-jogo:hover{
		background-color:red;
	}

div#topbar
	h2.boasvindas Seja bem vindo #{login.nome}
	input#doSair.btSair(name="doSair", type="button", value="sair", onClick="fnSair()");
div#main
	div#box_pessoal
		h2#titulo Minha Área
	//	div#cadastro Cadastro
	//	div#recordes Meus Recordes
	//	div#amigos Amigos
	div#box_jogos
		div#box-jogos-borda
			div#box-jogos-janela
				h2#titulo Jogos
				div.jogos_quebracabeca(onClick="fnAbreJogo('quebracabeca','Quebra-Cabeça','quebracabeca')")
				div.jogos_ben10_sumoslammersamurai(onClick="fnAbreJogo('ben10sumoslammersamurai',' Ben 10 - Sumo Slammer Samurai','externos')")
				div.jogos_ben10_powersplash(onClick="fnAbreJogo('ben10powersplash','Ben 10 - Power Splash','externos')")
				div.jogos_ben10_ultimatrix(onClick="fnAbreJogo('ben10ultimatrix','Ben 10 - Ultimatrix','externos')")
				div.jogos_ben10_omnitrixunleashed(onClick="fnAbreJogo('ben10omnitrixunleashed',' Ben 10 - Omnitrix Unleashed','externos')")
				div.jogos_ben10_cavernrun(onClick="fnAbreJogo('ben10cavernrun',' Ben 10 - Cavern Run','externos')")
				div.jogos_ben10_humongosaurgiantforce(onClick="fnAbreJogo('ben10humongosaurgiantforce',' Ben 10 - Humongosaur Giant Force','externos')")
				div.jogos_ben10_krakkenattack(onClick="fnAbreJogo('ben10krakkenattack',' Ben 10 - Krakken Attack','externos')")
				div.jogos_ben10_herohoops(onClick="fnAbreJogo('ben10herohoops',' Ben 10 - Hero Hoops','externos')")				
				
		//div#jogos_recordes Recordes
	div#box_social
	//	h2#titulo Social
	//	div#online On-line
	//	div#chat Chat
//jogo
div#container-jogo
	div#main-jogo
		div#main-jogo-mask
			div#jogo-box
				div#fechar-jogo(onClick="fnFecharJogo()", title="Sair do Jogo")
					span X
				iframe#jogo-page