style.
	#jogo-box{
		display:inline-block;
		border:1px solid silver;
		width: 600px;
		height: 400px;
	}

div#container-jogo
	div#main-jogo
		div#main-jogo-mask
			div#jogo-box
				h4.tituloJogo= title
				iframe(src="http://www.cartoonnetwork.com/games/ben10/sumoslammersamurai/BenSamurai.swf", width="600", height="400", scrolling="no", frameborder="0", class="border")
