style.
	#jogo-box{
		display:inline-block;
		border:1px solid silver;
		width: 620px;
		height: 478px;
	}

div#container-jogo
	div#main-jogo
		div#main-jogo-mask
			div#jogo-box
				h4.tituloJogo= title
				embed(src="http://www.jogosonline10.net/wp-content/uploads/ben_10_ultimatrix.swf", menu="false", quality="high", width="620", height="478", type="application/x-shockwave-flash", ++="", pluginspage="http://www.macromedia.com/go/getflashplayer")