!!!5
html
  head
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    script(src='/javascripts/jquery-1.7.2.min.js')
    script.
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32659076-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();    
    style.
        body, html{
            background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
        
  body!= body